<div class="div-wrapper animate__animated animate__jackInTheBox">
  <div>
    <img class="logo-panel" src="assets/img/easygarden.png" alt="logo">
  </div>
  <hr>
  <h1 class="titre-tableau">Panneau Portail</h1>
  <hr>
  <div class="table form-border form-shadow">
    <table class="t-hover">

      <thead>             
        <tr>
          <th class="power">On/Off</th>
          <th>Nom</th>
          <th>Obstacle</th>
          <th>Action</th>                   
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let portal of portals">
          <td class="power">
            <button type="submit" 
                    *ngIf="portal.status === true"
                    (click)="updateStatus(portal.id, portal.status)">
              <fa-icon [icon]="faPowerOff"></fa-icon>
            </button>
            <button type="submit" class="btn-off" 
                    *ngIf="portal.status === false"
                    (click)="updateStatus(portal.id, portal.status)">
              <fa-icon [icon]="faPowerOff"></fa-icon>
            </button>
          </td>
          <td>{{ portal.name }}</td>
          <td>{{ portal.presenceSensor }}</td>
          <td>
            <button type="button"
                    aria-label="Modifier"
                    routerLink="/easygarden/portal/{{portal.id}}">
              <fa-icon [icon]="faPen"></fa-icon>
            </button>
            <button type="submit" class="trash"
                    aria-label="Supprimer"
                    (click)="confirmDialog(portal)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="submit">
    <button type="button" id="submit" class="button-shadow">Ajouter</button>
  </div>
</div>
