<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div *ngIf="router.url === '/easygarden'" class="div-wrapper">
  <div class="table form-border form-shadow">
    <table class="t-hover">

      <thead>             
        <tr>
          <th>Nom</th>
          <th>Utilisateur</th>
          <th>Action</th>                   
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let user of users">
          <tr *ngFor="let garden of user.garden | paginate: { itemsPerPage: 3, currentPage: p }">
            <td>{{ garden.name }}</td>
            <td>{{ user.pseudo }}</td>
            <td>
              <button type="button"
                      aria-label="Modifier"
                      mat-raised-button
                      matTooltip="Modifier"
                      matTooltipPosition="before"
                      matTooltipShowDelay="500"
                      routerLink="/easygarden/garden/{{garden.id}}">
                <fa-icon [icon]="faPen"></fa-icon>
              </button>
              <button type="submit" class="trash"
                      aria-label="Supprimer"
                      mat-raised-button
                      matTooltip="Supprimer"
                      matTooltipPosition="after"
                      matTooltipShowDelay="500"
                      (click)="confirmDialog(garden.id, garden.name)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>

    </table>
  </div>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event" 
                         previousLabel="" 
                         nextLabel=""
                         [autoHide]="true"
                         [responsive]="true"
                         aria-label="Pagination">
    </pagination-controls>
  </div>
  <ng-container *ngFor="let user of users">
    <div class="submit">
      <button type="button" 
        id="submit" 
        class="button-shadow"
        routerLink="/easygarden/add/{{user.id}}">Ajouter</button>
    </div>
  </ng-container>
</div>
