<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div *ngIf="_router.url === '/easygarden'" class="div-wrapper">
  <div class="table form-border form-shadow">
    <table class="t-hover">

      <thead>             
        <tr>
          <th>Ville</th>
          <th>Nom</th>
          <th>Action</th>                   
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let garden of gardens">
          <td>{{ garden.name }}</td>
          <td>{{ garden.user.pseudo}}</td>
          <td>
            <button type="button"
                    aria-label="Modifier"
                    routerLink="/easygarden/{{garden.id}}">
              <fa-icon [icon]="faPen"></fa-icon>
            </button>
            <button type="submit" class="trash"
                    aria-label="Supprimer"
                    (click)="confirmDialog(garden)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
